#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui raised segment">
  <header class="ui header">
    ${member.firstname} ${member.lastname}'s Gym Profile
  </header>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Hips</th>
      <th>Waist</th>
      <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <div class="ui bulleted list">
      #{list items:assessments, as:'assessments'}
      <tr>
        <td> ${assessments.weight} </td>
        <td> ${assessments.chest} </td>
        <td> ${assessments.thigh} </td>
        <td> ${assessments.upperArm} </td>
        <td> ${assessments.waist} </td>
        <td> ${assessments.hips} </td>
        <td> ${assessments.comment}</td>
      </tr>
        #{/list}
    </div>
    </tbody>
  </table>
</section>

<form class="ui stacked segment form" action="/dashboard/addAssessment" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <button class="ui blue submit button">Add Assessment</button>
</form>